%h1 Podstrona w budowie ...
.jumbotron.jumbotron-fluid
	.container
		%h3 Dane kontaktowe
		%p Firma PBKOMP Paweł Brzózka
		%p Majdan Sieniawski 366
		%p 37-534 Adamówka
		%p tel. 177877137, 504518290
		%p email: pbkomp@biznespoczta.pl
		%p nr konta bankowego: 64 1140 2004 0000 3202 3572 9289
		%p Regon: 651554527
