%h1 Podstrona w budowie ...
%p Find me in app/views/pages/contact.html.haml
.jumbotron.jumbotron-fluid
	.container
		%h3 Dane kontaktowe
		%p Firma PBKOMP Paweł Brzózka
		%p Majdan Sieniawski 366
		%p 37-534 Adamówka
		%p tel. 177877137, 504518290
		%p email: pbkomp@biznespoczta.pl
