
%h1 Podstrona w budowie ...
.modal.hide.fade{"aria-hidden" => "true", "id" => "myModal", :role => "dialog", :tabindex => "-1"}
	.modal-dialog.modal-lg{:role => "document"}
		.modal-content
			.modal-header
				%h5#exampleModalLongTitle.modal-title RODO
				%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
					%span{"aria-hidden" => "true"} ×
			.modal-body
				.rodo
					%h3 Informacje dotyczące RODO
					%p
						%h6	Szanowni Klienci,
						.paragraph Uprzejmie informujemy, że dnia 25 maja 2018 roku wchodzi w życie Rozporządzenie Parlamentu Europejskiego i Rady (UE) z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (ogólne rozporządzenie o ochronie danych - RODO).
					%p
						W związku z tym spoczywa na nas obowiązek informacyjny o sposobie postępowania przez naszą firmę z danymi osobowymi. Poniżej znajdziecie Państwo pełną informację.
					%ol
						%li Kto jest administratorem danych osobowych?
						Administratorem danych osobowych w myśl rozporządzenia Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (ogólne rozporządzenie o ochronie danych) (dalej jako ,,RODO”) jest Firma PBKOMP Paweł Brzózka Majdan Sieniawski 366 37-534 Adamówka, wpisana do CEIDG, NIP: 794-105-75-33 zwanej dalej PBKOMP.
						%li Jak możesz się z nami skontaktować?
						Z PBKOMP można skontaktować się telefonicznie pod nr telefonu 177877137 lub 504518290, w drodze korespondencji elektronicznej: pbkomp@biznespoczta.pl lub pisemnie na adres: Sieniawa, ul. Rynek 4a, 37-530 Sieniawa.
						%li Jaki rodzaj Twoich danych osobowych przetwarzamy?
						PBKOMP przetwarza dane wskazane w formularzu umowy tj. imię, nazwisko, adres zamieszkania, numer PESEL, NIP oraz dane kontaktowe, takie jak numer telefonu i adres mail. 
						Nadto, w związku z wymogami ustawy prawo telekomunikacyjne przetwarzamy również Państwa tzw. ,,dane retencyjne”, takie jak:
						%p • dane transmisyjne, które oznaczają dane przetwarzane dla celów przekazywania komunikatów w sieciach telekomunikacyjnych lub naliczania opłat za usługi telekomunikacyjne, w tym dane lokalizacyjne, które oznaczają wszelkie dane przetwarzane w sieci telekomunikacyjnej lub w ramach usług telekomunikacyjnych wskazujące położenie geograficzne urządzenia końcowego użytkownika publicznie dostępnych usług telekomunikacyjnych;
						%p • dane o lokalizacji, które oznaczają dane lokalizacyjne wykraczające poza dane niezbędne do transmisji komunikatu lub wystawienia rachunku;
						%p • dane o próbach uzyskania połączenia między zakończeniami sieci, w tym dane o nieudanych próbach połączeń, oznaczających połączenia między telekomunikacyjnymi urządzeniami końcowymi lub zakończeniami sieci, które zostały zestawione i nie zostały odebrane przez użytkownika końcowego lub nastąpiło przerwanie zestawianych połączeń
						%li Jaki jest cel i podstawa prawna przetwarzania przez nas Twoich danych osobowych?
						PBKOMP przetwarza Twoje dane osobowe w celu:
						%p • zawarcia i realizacji świadczeń wynikających z umowy o świadczenie usług telekomunikacyjnych, w tym dostarczania usług, wykonania przyłącza oraz instalacji w lokalu, a także usuwania awarii i konserwacji sieci telekomunikacyjnej (art. 6 ust. 1 lit. b RODO – przetwarzanie w celu wykonania umowy);
						%p • wystawianie faktur i przyjmowanie płatności (art. 6 ust. 1 lit. b i c RODO – przetwarzanie w celu wykonania umowy oraz wypełnienie obowiązku prawnego);
						%p • windykacja roszczeń oraz obrona przed roszczeniami (art. 6 ust. 1 lit f RODO – prawnie uzasadniony interes);
						%p • obsługa reklamacji (art. 6 ust. 1 lit. c RODO – wypełnienie obowiązku prawnego);
						%p • gromadzenie, przechowywanie i udostępnianie danych retencyjnych odpowiednim organom (art. 6 ust. 1 lit. c RODO w zw. z art. 159 i nast. ustawy prawo telekomunikacyjne);
						%p • realizacja próśb klienta (art. 6 ust. 1 lit. b RODO);
						%p • przedstawienia propozycji zawarcia umowy o świadczenie usług telekomunikacyjnych lub usług powiązanych z usługami telekomunikacyjnymi (podstawa prawna – art. 6 ust. 1 lit f RODO – prawnie uzasadniony interes);
						%p • kontaktu telefonicznego na podany w formularzu numer telefonu w celu marketingu bezpośredniego (podstawa prawna – art. 6 ust. 1 lit a RODO w zw. z art. 172 ustawy – prawo telekomunikacyjne – Twoja zgoda);
						%p • przesłania informacji handlowej w zakresie usług telekomunikacyjnych i usług powiązanych na podany w formularzu adres mail (podstawa prawna – art. 6 ust. 1 lit a RODO w zw. z art. 10 ust. 2 ustawy i  świadczeniu usług drogą elektroniczną - Twoja zgoda).
						%li Kto może zapoznawać się z Twoimi danymi osobowymi?
						Odbiorcami danych osobowych są pracownicy PBKOMP oraz agenci i przedstawiciele handlowi PBKOMP. Nadto na podstawie odpowiednich umów dane te mogą zostać przekazane podmiotom współpracującym z PBKOMP przy realizacji świadczeń wynikających z umowy. Przekazywanie powyższym podmiotom danych osobowych dokonywane jest wyłącznie w celach określonych w pkt 4 powyżej.
						Nadto PBKOMP może przekazać dane odpowiednim organom publicznym uprawnionym do zapoznania się z danymi retencyjnymi.
						%li Przez jaki czas przetwarzamy Twoje dane osobowe?
						Okres przechowywania danych jest zależny od nośnika, na którym znajdują się te dane oraz ich celu. W związku z tym:
						%p • dane retencyjne przechowywane są przez okres 12 miesięcy, a następnie usuwane;
						%p • dane znajdujące się na umowie oraz innych nośnikach przechowywane są przez okres jej trwania, okres umożliwiający dochodzenie roszczeń (3 lata) oraz okres niezbędny do obrony przed roszczeniami kierowany przeciwko nam (10 lat, z tym że w przypadku wprowadzenia nowelizacji okres ten będzie wynosił 6 lat);
						%p • dane zawarte na fakturach przechowywane są przez okres 5 lat, zgodnie z wymogami przepisów prawa.
						%li W jaki sposób chronimy Twoje dane osobowe?
						PBKOMP zapewnia, że stosuje odpowiednie warunki techniczne i organizacyjne służące zapewnieniu bezpieczeństwa przetwarzanych danych osobowych przed ich wyjawieniem. W tym celu wprowadzone zostały odpowiednie procedury oraz dokumentacja, a także zabezpieczenia systemów teleinformatycznych.
						%li Jakie masz uprawnienia w związku z przetwarzaniem przez nas Twoich danych osobowych?
						Osoby, których dane osobowe są przetwarzane przez PBKOMP uprawnione są do domagania się od PBKOMP dostępu do swoich danych osobowych, ich sprostowania, usunięcia lub ograniczenia przetwarzania, wniesienia sprzeciwu wobec przetwarzania, a także przenoszenia danych. Nadto osoby te uprawnione są do cofnięcia zgody oraz wniesienia skargi do organu nadzorczego. Organem nadzoru jest Generalny Inspektor Ochrony Danych Osobowych/Prezes Urzędu Ochrony Danych Osobowych.
						%li Czy musisz podać swoje dane osobowe?
						Podanie danych osobowych jest całkowicie dobrowolne, jednakże brak podania danych osobowych takich jak adres mail lub numer telefonu uniemożliwiał będzie kontakt w celu przedstawienia propozycji zawarcia umowy o świadczenie usług telekomunikacyjnych lub usług powiązanych.
					%h5
						Informacje dodatkowe
					%p • PBKOMP nie dokonuje profilowania w związku z przetwarzaniem Państwa danych osobowych, ani nie przetwarza danych osobowych w sposób automatyczny i wpływający na Twoje prawa.
					%p • PBKOMP nie przekazuje danych osobowych do państw spoza Europejskiego Obszaru Gospodarczego.
					%h6
						Z poważaniem
						Paweł Brzózka Firma PBKOMP
			.modal-footer
				%button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Zamknij
