// Place all the styles related to the hardwares controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.field label {
  color: #790000;
}

.card-body>.row span{
  color: #790000;
  margin: 0px;
  padding: 0px;
}

.card-body>.row b{
	padding: 0px;
	margin: 0px;
}

.bgcolor {
  background-color: orange;
}
