%p
  Cześć #{@resource.email}!
%p Ktoś wysłał prośbę o zmianę hasła. Możesz to zrobić poprzez link poniżej.
%p= link_to 'Zmień moje hasło', edit_password_url(@resource, reset_password_token: @token)
%p Jeśli to nie ty wysłałeś prośbę zignoruj tę informację.
%p Twoje hasło nie może zostać zmienione dopóki nie klikniesz poniższego linku i nie podasz nowego hasła.
