/ \-# navigation styled for Bootstrap 3.0
/ \/ .container
/ \/   %nav.navbar.navbar-dark.bg-inverse
/ \/     %ul.nav.navbar-nav.clearfix
/ \/       %li.nav-item
/ \/         %button.navbar-toggler.hidden-sm-up.nav-link{"aria-controls" =&gt; "exCollapsingNavbar2", "aria-expanded" =&gt; "false", "aria-label" =&gt; "Toggle navigation", "data-target" =&gt; "#exCollapsingNavbar2", "data-toggle" =&gt; "collapse", :type =&gt; "button"}
/ \/           \ ☰
/ \/     #exCollapsingNavbar2.collapse.navbar-toggleable-xs
/ \/       = link_to "Rails bootstrap", root_path, class: 'navbar-brand'
/ \/       %ul.nav.navbar-nav= render 'layouts/navigation_links'


%nav.navbar.navbar-light.bg-faded
  %a.navbar-brand Navbar
  %ul.navbar-nav.mr-auto.collapse.navbar-collapse
    = render 'layouts/nav_links_for_auth'
